{{> globel/header-full}}
<h1>COOKIE DEMO</h1>

{{#if flash}}
<form action="cookie/newsletter" method="POST">
	<input type="text" name="name">
	<input type="text" name="email">
	<div class="alert alert-dismissible alert-{{flash.type}}">
		<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;<button>
		<strong>{{flash.intro}}</strong> {{{flash.message}}}
	</div>
</form>
{{/if}}